/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
test.rb
ext/cumo/narray/types/*.c
ext/cumo/narray/types/*.cu
ext/cumo/include/cumo/extconf.h
ext/cumo/Makefile
ext/cumo/depend
lib/include/cumo/extconf.h
TAGS
t.rb
.ruby-version
.yardoc/
*.exe
.DS_Store
/vendor/
.kernel_cache/
