/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
test.rb
ext/numo/narray/types/*.c
ext/numo/include/numo/extconf.h
ext/numo/Makefile
ext/numo/depend
TAGS
t.rb
