/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
test.rb
ext/cumo/narray/types/*.c
ext/cumo/include/cumo/extconf.h
ext/cumo/Makefile
ext/cumo/depend
TAGS
t.rb
.ruby-version
